**<font size=6>Week3 - Coding Problems</font>**

In [1]:
import pandas as pd

## Even/odd, Prime

1. Write a program that reads an integer from the user. Then your program should display a message indicating whether the integer is even or odd and if the number is a prime or a non-prime.

In [2]:
def interger_check(num):
    if num % 2 == 0:
        print(num, "is an even interger.")
    else:
        print(num, "is an odd integer.") 
    if num <= 3:
        print(num, "is a prime number.")
    else:
        for i in range(2,num):
            if num % i == 0:
                print(num, "is not a prime number.")
                break
        print(num, "is a prime number.")

num = int(input("Check this integer: "))
interger_check(num)

Check this integer: 7
7 is an odd integer.
7 is a prime number.

## Univariate quadratic function

A univariate quadratic function has the form $f(x)=ax^2+bx+c$, where a, b and c are constants, and a is non-zero. The roots of a quadratic function can be found by finding the values of x that satisfy the quadratic equation $ax^2 +bx+c=0$. Aquadratic function may have 0, 1, or 2 real roots. These roots can be computed using the quadratic formula, shown below:

$$\boxed{root = \frac {-b \pm \sqrt {b^2 - 4ac}} {2a} }$$

 The portion of the expression under the square root sign is called the discriminant. If the discriminant is negative then the quadratic equation does not have any real roots. If the discriminant is 0, then the equation has one real root. Otherwise, the equation has two real roots, and the expression must be evaluated twice, once using a plus sign, and once using a minus sign, when computing the numerator. Write a program that computes the real roots of a quadratic function. Your program should begin by prompting the user for the values of a, b and c. Then it should display a message indicating the number of real roots, along with the values of the real roots(if any).

In [3]:
import math

In [4]:
a = 1
b = 2
c = 1

In [5]:
d = math.sqrt(b**2 - 4*a*c)
d

0.0

In [6]:
root1 = (-b + d)/2*a
print(root1)

-1.0

In [7]:
root2 = (-b - d)/2*a
print(root2)

-1.0

## Average

In this exercise, you will create a program that computes the average of a collection of values entered by the user. The user will enter 0 as a sentinel value to indicate that no further values will be provided. Your program should display an appropriate error message if the first value entered by the user is 0.

1. loop(while true) to do input until o to exit
2. change input data type
3. sum the values (for i in ...)

In [8]:
def avg_values(num_list):
    sum_values = 0 
    # change data type from string to float
    new_num_list = [float(items) for items in num_list]    
    for i in range(0,len(new_num_list)):    
        sum_values += new_num_list[i]  
    avg_values = sum_values/(len(new_num_list)-1) 
    return avg_values


def avg_func():
    num = input("If you want to stop, give 0. Given values: ")
    if num[0] == '0':
        print("First number you give, can not be 0.") 
        while True:
            num = input("If you want to stop, give 0. Given values: ")
            num_list.append(num)
            if num == '0':
                num_list
                break
    else: 
        while True:
            num = input("If you want to stop, give 0. Given values: ")
            num_list.append(num)
            if num == '0':
                break

    return avg_values(num_list)

num_list = []
print(avg_func())

If you want to stop, give 0. Given values: 9
If you want to stop, give 0. Given values: 9
If you want to stop, give 0. Given values: 0
9.0

## Convert temperature

Write a program that displays a temperature conversion table for degrees Celsius and degrees Fahrenheit. The table should include rows for all temperatures between 0 and 100 degrees Celsius which are multiples of 10 degrees Celsius. Include appropriate headings on your columns. The formula for converting between degrees Celsius and degrees Fahrenheit can be found on the internet.

* list/dictionary - tables
1. dictionary: <br /> 
    key - degrees Celsius (loop range 1-10) <br />
    value - degrees Fahrenheit (in a list, and give values) <br/> 
    formula: (30°C x 1.8) + 32 = 86°F
2. create a dictionary to change temp_table to dataframe <br />
3. dictionary to table (pandas)

In [9]:
def cf():
    celsius = [0,10,20,30,40,50,60,70,80,90,100]
    # create key according to a list
    temp_table = dict((el,0)for el in celsius)
    # gives values with a loop of key
    for key in dict.keys(temp_table):
        temp_table[key] = int((key * 1.8) + 32)
    print(temp_table)

cf()

{0: 32, 10: 50, 20: 68, 30: 86, 40: 104, 50: 122, 60: 140, 70: 158, 80: 176, 90: 194, 100: 212}

In [10]:
celsius = [0,10,20,30,40,50,60,70,80,90,100]
# create key according to a list
temp_table = dict((el,0)for el in celsius)
# gives values with a loop of key
for key in dict.keys(temp_table):
    temp_table[key] = int((key * 1.8) + 32)
print(temp_table)

{0: 32, 10: 50, 20: 68, 30: 86, 40: 104, 50: 122, 60: 140, 70: 158, 80: 176, 90: 194, 100: 212}

In [11]:
#create a dictionary for dataframe column names and insert values to each
celsius = [0,10,20,30,40,50,60,70,80,90,100]
fahrenheit = list(temp_table.values())
fahrenheit

[32, 50, 68, 86, 104, 122, 140, 158, 176, 194, 212]

In [12]:
col_temp_table = {'celsius':celsius,'fahrenheit':fahrenheit}
col_temp_table

{'celsius': [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
 'fahrenheit': [32, 50, 68, 86, 104, 122, 140, 158, 176, 194, 212]}

In [13]:
df_cf = pd.DataFrame.from_dict(col_temp_table)
df_cf

    celsius  fahrenheit
0         0          32
1        10          50
2        20          68
3        30          86
4        40         104
5        50         122
6        60         140
7        70         158
8        80         176
9        90         194
10      100         212

In [14]:
f_degree = []
for element in celsius:
    f_degree.append((element*1.8)+32)
f_degree

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0, 212.0]

In [15]:
f_degree = [((element*1.8)+32) for element in celsius]
f_degree

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0, 212.0]

In [16]:
import pandas as pd
from time import time

def celsiu_to_fahrenheit():
    # start = time()
    celsius = [i for i in range(0,101,10)]   # -> celsius = [0,10,20,30,40,50,60,70,80,90,100]
    fahrenheit = [(i * 1.8)+32 for i in celsius]
    # print(time()-start)
    return pd.DataFrame({'celsius':celsius,'fahrenheit':fahrenheit})

celsiu_to_fahrenheit()

    celsius  fahrenheit
0         0        32.0
1        10        50.0
2        20        68.0
3        30        86.0
4        40       104.0
5        50       122.0
6        60       140.0
7        70       158.0
8        80       176.0
9        90       194.0
10      100       212.0

**<font color=red>improvement of the code: </font>**
1. less variable 
2. less loop(for) instead to be comprehension
3. readable
4. faster

## Zoo entry fee

A particular zoo determines the price of admission based on the age of the guest. Guests 2 years of age and less are admitted without charge. Children between 3 and 12 years of age cost $14.00. Seniors aged 65 years and over cost $18.00. Admission for all other guests is $23.00. Create a program that begins by reading the ages of all of the guests in a group from the user, with one age entered on each line. The user will enter a blank line to indicate that there are no more guests in the group. Then your program should display the admission cost for the group with an appropriate message. The cost should be displayed using two decimal places.

In [126]:
def f_usd(price):
    return "$" + str(format(price, ".2f"))
def zoo_entry_fee():
    qty=[0,0,0,0]
    t_cost = [0,0,0,0]
    age_input = input("Age in your group: ")
    while age_input != '' and not age_input.isspace():
        if age_input.isnumeric(): 
            age=int(age_input)
            if age<=2:
                qty[0]+=1
            elif age<=12:
                qty[1]+=1
                t_cost[1]+=14.0
            elif age<=64:
                qty[2]+=1
                t_cost[2]+=23.0
            else:
                qty[3]+=1
                t_cost[3]+=18.0
        age_input = input("Age in your group: ")
            
    print(f'{"Ages":10}{"qty":10}{"pu cost":10}{"t cost":10}')
    print(f'{"0-2":11}{str(qty[0])+".":10}{"$0":10}{f_usd(t_cost[0]):10}')
    print(f'{"3-12":11}{str(qty[1])+".":10}{"$14.00":10}{f_usd(t_cost[1]):10}')
    print(f'{"13-64":11}{str(qty[2])+".":10}{"$23.00":10}{f_usd(t_cost[2]):10}')
    print(f'{"+65":11}{str(qty[3])+".":10}{"$18.00":10}{f_usd(t_cost[3]):10}')
    print("\n\n\n")
    print(r"total ------------------------","$"+str(sum(t_cost)))

zoo_entry_fee()

Age in your group: 0
Age in your group: 1
Age in your group: 23
Age in your group: 45
Age in your group: 89
Age in your group:
Ages      qty       pu cost   t cost
0-2        2.        $0        $0.00
3-12       0.        $14.00    $0.00
13-64      2.        $23.00    $46.00
+65        1.        $18.00    $18.00




total ------------------------ $64.0

In [132]:
def zoo_entry_fee():
    qty, t_cost=[0,0,0,0],[0,0,0,0]
    age_input = input("Age in your group: ")
    while age_input != '' and not age_input.isspace(): #while exit condition
        if age_input.isnumeric(): #check if input is integer
            age=int(age_input)
            if age<=2: #each input belongs to one condition and then update qty and entre fee
                qty[0]+=1
            elif age<=12:
                qty[1]+=1
                t_cost[1]+=14.0
            elif age<=64:
                qty[2]+=1
                t_cost[2]+=23.0
            else:
                qty[3]+=1
                t_cost[3]+=18.0
        age_input = input("Next person: ")
    
    # format output, qty with ".", price with 2 decimal
    print(f'{"Ages":10}{"qty":10}{"pu cost":10}{"t cost":10}')
    print(f'{"0-2":11}{str(qty[0])+".":10}{"$0":10}{("$" + str(format(t_cost[0], ".2f"))):10}')
    print(f'{"3-12":11}{str(qty[1])+".":10}{"$14.00":10}{("$" + str(format(t_cost[1], ".2f"))):10}')
    print(f'{"13-64":11}{str(qty[2])+".":10}{"$23.00":10}{("$" + str(format(t_cost[2], ".2f"))):10}')
    print(f'{"+65":11}{str(qty[3])+".":10}{"$18.00":10}{("$" + str(format(t_cost[3], ".2f"))):10}')
    print("\n\n\n")
    print(r"total ------------------------","$"+str(format(sum(t_cost),".2f")))

zoo_entry_fee()

Age in your group: -1
Age in your group: sd
Age in your group: /
Age in your group: 2
Age in your group: 34
Age in your group: 29
Age in your group: 56
Age in your group: 00
Age in your group: 89
Age in your group:
Ages      qty       pu cost   t cost
0-2        2.        $0        $0.00
3-12       0.        $14.00    $0.00
13-64      3.        $23.00    $69.00
+65        1.        $18.00    $18.00




total ------------------------ $87.00

In [113]:
def f_usd(price):
    return "$" + str(format(price, ".2f"))

def zoo_entry_fee():
    current_fees = {
        0: {"name": "0-2", "price": 0, "qty": 0, "t_cost": 0},
        1: {"name": "3-12", "price": 14.0, "qty": 0, "t_cost": 0},
        2: {"name": "12-65", "price": 23.0, "qty": 0, "t_cost": 0},
        3: {"name": "+65", "price": 18.0, "qty": 0, "t_cost": 0}
    }
    total = 0
    age_input = input("Age of the first person: ")
    while age_input != "" and not age_input.isspace():
        if age_input.isnumeric():
            age = int(age_input)
            if age <= 2:
                current_fees[0]["qty"] += 1
            elif age <= 12:
                current_fees[1]["qty"] += 1
                current_fees[1]["t_cost"] += current_fees[1]["price"]
                total += current_fees[1]["price"]
            elif age <= 64:
                current_fees[2]["qty"] += 1
                current_fees[2]["t_cost"] += current_fees[2]["price"]
                total += current_fees[2]["price"]
            else:
                current_fees[3]["qty"] += 1
                current_fees[3]["t_cost"] += current_fees[3]["price"]
                total += current_fees[3]["price"]
        age_input = input("Next person: ")

    print(f'{"Ages":10}{"qty":10}{"pu cost":10}{"t cost":10}')
    for f in current_fees:
        current_fee = current_fees[f]
        print(
            f'{current_fee["name"]:11}{str(current_fee["qty"])+".":10}{f_usd(current_fee["price"]):10}{f_usd(current_fee["t_cost"]):10}'
        )
    print("\n\n\n")
    print(r"total ------------------------", f_usd(total))

zoo_entry_fee()

Age of the first person: -1
Next person: er
Next person: 45
Next person: 2
Next person: 78
Next person:
Ages      qty       pu cost   t cost
0-2        1.        $0.00     $0.00
3-12       0.        $14.00    $0.00
12-65      1.        $23.00    $23.00
+65        1.        $18.00    $18.00




total ------------------------ $41.00
7.266541957855225

## Triangle

Write a function that takes the lengths of the two shorter sides of a right triangle as its parameters. Return the hypotenuse of the triangle, computed using the Pythagorean theorem, as the function’s result. Include inputs that read the lengths of the shorter sides of a right triangle from the user, use your function to compute the length of the hypotenuse, and display the result.

$$hypotenuse= \sqrt {a^2 + b^2}$$

In [137]:
import math
def hypotenuse():
    print("In a right triangle, ")
    a = float(input("one short side: "))
    b = float(input("the other short side: "))
    c = round(math.sqrt(a**2 + b**2),2)
    print("The hypotenuse is " + str(c))

hypotenuse()

In a right triangle,
one short side: 3
the other short side: 4
The hypotenuse is5.0

## Shipping charge

An online retailer provides express shipping for many of its items at a rate of $10.95 for the first item, and $2.95 for each subsequent item. Write a function that takes the number of items in the order as its only parameter. Return the shipping charge for the order as the function’s result. Include user inputs that read the number of items purchased from the user and display the shipping charge.

In [140]:
def shipping_charge(num_items):
    charge = 10.95 + 2.95 * (num_items - 1)
    print(f"There are {num_items} items need to be shipped, and the shipping charge is {charge}.")

num_items = int(input("Shipping for how many items? "))
shipping_charge(num_items)

Shipping for how many items? 5
There are 5 items need to be shipped, and the shipping charge is 22.75.

## Password

In this exercise, you will write a function that determines whether or not a password is good. We will define a good password to be one that is at least 8 characters long and contains at least one uppercase letter, at least one lowercase letter, and at least one number. Your function should return true if the password passed to it as its only parameter is good. Otherwise, it should return false.

In [138]:
# strong password: length, digits, uppercase, lowercase
password = "k12asCKdc"

result= {}

if len(password) >= 8:
    result["length"] = True
else:
    result["length"] = False

# .isdigit() -- letters and numbers
digit = False
for i in password:
    if i.isdigit():
        digit = True
        # add key and values in result, but only it will show up when digit = True, when it's not true, there is no digits key in result dictionary
        result["digits"] = digit
# show digits as key, and digit as value in dictinary
# result["digits"] = digit

uppercase = False
for i in password:
    if i.isupper():
        print(i)
        uppercase = True
result["uppers"] = uppercase

lowercase = False
for i in password:
    if i.islower():
        lowercase = True
result["lowers"] = lowercase

one_digit = False
for key, value in result.items():
    if "digits" in key and value:
        one_digit = True
result["digit-found"] = one_digit

one_uppercase = False
for key, value in result.items():
    if "uppers" in key and value:
        one_uppercase = True
result["uppercase-found"] = one_uppercase

one_lowercase = False
for key, value in result.items():
    if "lower" in key and value:
        one_lowercase = True
result["lowercase-found"] = one_lowercase

if False in result.values():
    print("Weak Password")
else:
    print("Strong Password")

print(result)

C
K
Strong Password
{'length': True, 'digits': True, 'uppers': True, 'lowers': True, 'digit-found': True, 'uppercase-found': True, 'lowercase-found': True}